\documentclass[12pt, letterpaper]{article}
\usepackage[utf8]{inputenc}
\usepackage{csvsimple}
\usepackage{longtable}
\usepackage{adjustbox}
\usepackage{booktabs}

\title{VPC Endpoints}
\author{Krzysztof Dziuban}
\date{ {{ date }} }

\begin{document}

\maketitle

\tableofcontents

\section{Endpoint list}
{% for env in envs %}
\subsection{Env: {{ env }}}

\begin{adjustbox}{width=1\textwidth}

\csvautotabular{ endpoint-list-{{ env }}.csv}

\end{adjustbox}
{% endfor %}

\section{Usage}
{% for env in envs %}
\subsection{Env: {{ env }}}

\small
\setlength\tabcolsep{3pt} 
\csvreader[
longtable=|c|c|c|c|c|,
table head=
\toprule\bfseries start date & \bfseries end date & \bfseries name & \bfseries usage & \bfseries unit\\
\midrule\endhead\bottomrule\endfoot,
late after line=\\,
before reading={\catcode`\#=12},after reading={\catcode`\#=6}
]{usage-{{ env }}.csv}{1=\ColOne, 2=\ColTwo, 3=\ColThree, 4=\ColFour, 5=\ColFive}
{\ColOne & \ColTwo & \ColThree & \ColFour & \ColFive}
{% endfor %}

\section{Costs}
{% for env in envs %}
\subsection{Env: {{ env }}}

\small
\setlength\tabcolsep{3pt} 
\csvreader[
longtable=|c|c|c|c|c|,
table head=
\toprule\bfseries start date & \bfseries end date & \bfseries name & \bfseries cost & \bfseries unit\\
\midrule\endhead\bottomrule\endfoot,
late after line=\\,
before reading={\catcode`\#=12},after reading={\catcode`\#=6}
]{costs-{{ env }}.csv}{1=\ColOne, 2=\ColTwo, 3=\ColThree, 4=\ColFour, 5=\ColFive}
{\ColOne & \ColTwo & \ColThree & \ColFour & \ColFive}
{% endfor %}

\end{document}
